body, div.all{
  background-color: gray;
  font-family:"Comic Sans MS";
}

h1{
  background-color: black;
  color: red;
  text-align: center;
  font-size: 50px;
}

div.text{
  background-color: black;
  padding: 25px,25px,25px,25px;
  margin-left:75px;
  margin-right:75px
}

div.body{
  padding:50px,50px,50px,50px;
}

h2{
  background-color: gray;
  color: red;
  text-align:center;
  font-size: 25px;
  border-bottom: 2px solid red;
}
p{
  color:white;
  padding-left:10%;
  padding-right:10%;
}
a, ul{
  color:white;
}

table{
  color:white
}

th{
  color:red;
  border-bottom: 2px double white;
}

.center{
  margin:auto;
  width:100px;
}
